body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html{
  background-color:#162936;
}
input::placeholder {
  color: white !important; 
  /* opacity: 1;  */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
tr, td,th{
  padding:10px;
  border:1px solid white;
  background:none;
  background-color: #1d3545 !important;
  color: white !important;

}


table{
  background-color: #162936 !important;
  color: white !important;
  border-radius:10px;
}

input{
  background:none !important;
  color:white !important;
}
.text-shadow {
  text-shadow: 1px 1px 2px #000000; /* X-offset, Y-offset, Blur radius, Color */
}


.card{
  background:none;
  color:white;
}

.Toastify__toast {
  background-color: #162936 !important; /* Replace with your desired background color */
  color: #ffffff !important; /* Replace with your desired text color */
}