body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html{
  background-color:#162936;
}
input::placeholder {
  color: white !important; 
  /* opacity: 1;  */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
tr, td,th{
  padding:10px;
  border:1px solid black;
  border-radius:10px;
  background:none;
  margin:2px;

}
table{
  background:none;
}

input{
  background:none !important;
  color:white !important;
}
.text-shadow {
  text-shadow: 1px 1px 2px #000000; /* X-offset, Y-offset, Blur radius, Color */
}


.card{
  background:none;
  color:white;
}